extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

block header

block content
  .CSSVariablesExamples
    .container
      .card
        h3.card__title Title
        p.card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, mollitia iusto eum expedita maiores architecto!
      .card.card--active
        h3.card__title Title
        p.card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, mollitia iusto eum expedita maiores architecto!
      .card
        h3.card__title Title
        p.card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, mollitia iusto eum expedita maiores architecto!
      .card
        h3.card__title Title
        p.card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, mollitia iusto eum expedita maiores architecto!
      .card
        h3.card__title Title
        p.card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, mollitia iusto eum expedita maiores architecto!
      .card.card--active.card--warning
        h3.card__title Title
        p.card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, mollitia iusto eum expedita maiores architecto!
      .card.card--warning
        h3.card__title Title
        p.card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, mollitia iusto eum expedita maiores architecto!
