extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header

block content
  .cot
    h1.cot__title Примеры
    h2.cot__subtitle БЭМ
    a.cot__item(href='https://codepen.io/AlienAmigo/pen/mdYVgae', target='_blank') Приемущества БЭМ-нотации
    h2.cot__subtitle Хорошие и плохие подходы в CSS
    a.cot__item(href='https://codepen.io/AlienAmigo/pen/KKLVrNP', target='_blank') Стилизация блока внутри блока

    h2.cot__subtitle Хорошие и плохие подходы в CSS
    a.cot__item(href='./textResizeExample.html', target='_blank') Text resize example
    a.cot__item(href='./CSSVariablesExamples.html', target='_blank') CSS variables examples
    //a.cot__item(href='./VariablesInMediaQueries.html', target='_blank') SASS and CSS variables in media queries

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
