extends ../pug/layout.pug

block meta
  title Variables In Media Queries

block header

block content
  .VariablesInMediaQueries
    .block
      span.text.xl &lt; 1440 px
      span.text.lg 1440 px &gt; 1024px
      span.text.md 1024 px &gt; 786 px
      span.text.sm  &gt; 786px
