@import 'node_modules/normalize.css/normalize';

@import 'fonts';
@import 'variables';

@import 'mixins/mixins';
@import 'mixins/typography';

// @import 'sprite-png';
// @import 'sprite-svg';

// @import 'blocks/popup';

@import 'blocks/page';
@import 'blocks/cot';
@import "blocks/textResizeExample/book-style.css";

body:has(.text-zoom-panel) {
  @import "blocks/textResizeExample/additional";
  @import "blocks/textResizeExample/text-zoom-panel";
}


body:has(.CSSVariablesExamples) {
  @import "blocks/CSSVariablesExamples/style";
}

body:has(.VariablesInMediaQueries) {
  @import "blocks/VariablesInMediaQueries/style";
}


